---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics;
---

<Section title="About">
	<div class="about-border relative pl-4">
		<div class="absolute left-0 top-0 bottom-0 w-px bg-gradient-to-b from-accent/50 via-accent/20 to-transparent"></div>
		<p>
			{summary}
		</p>
	</div>
</Section>
